

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.main-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding:.25em;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:.25em;
    background:rgb(241, 254, 255);
    border-radius: .5em;
}

#w1 {
    width:40%;
    padding:.5em 0;
}

#w2 {
    padding:.5em 0;
    width: 60%;
}

.grid-spl {
    display: grid;
    width:90%;
    max-width: 525px;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1.15fr 1.05fr repeat(6, 1fr);
    height:600px;
    align-items: center;
    justify-content: center;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    height:100%;
}


/* =========== calender styles ============== */


.week {
    background: rgb(173, 252, 255);
    font-size: 1.125rem;
    text-transform: capitalize;
}

.date {
    background:rgb(225, 254, 255);
    font-size: 1.125rem;
    transition: 0.2s;
    cursor: pointer;
}

.date:hover {
    background: rgb(185, 253, 255);
}

.calender-header {
    grid-column-start: 1;
    grid-column-end: -1;
    background: rgb(126, 251, 255);
    font-size: 2rem;
}

.calender-header.flex {
    justify-content: space-around;
}

.calender-header button {
    background: transparent;
    outline: none;
    border: none;
    cursor:pointer;
}

.calender-header .iconify {
    font-size: 1.5rem;
}
/* =========== clock styles ============== */


.clock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:250px;
    /* border:1px solid black; */
    margin-top: 60px;
}

.time {
    padding:0.5em .6em;
    font-size: 1.75rem;
    background:rgb(183, 253, 255);
}


.time-name {
    background: rgb(126, 251, 255);
    text-align: center;
    padding:.1em 0;
}


/* ========== todo list styles ========== */

.todo-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:80%;
}

.header-title {
    font-size: 2rem;
    margin:.5em 0;
}

.header-icon {
    cursor: pointer;
    transition: color 0.2s;
}

.header-icon .iconify {
    font-size: 1.25rem;
    margin-left: .25em;
    
}

#create:hover {
    color:rgb(16, 172, 16);
}

#delete-all:hover{
    color:rgb(255, 44, 44);
}

.line {
    width: 80%;
    height: 1px;
    background: rgb(26, 53, 54);
    margin: 0 auto 1em;
}

.todo-container {
    display: grid;
    grid-template-columns: .1fr .8fr .1fr;
    width:60%;
    min-width: 300px;
    padding:.5em;
    align-items: center;
    justify-content: space-between;
    background: rgb(225, 254, 255);
    margin:.5em 0;
}

.todo-date {
    width:65px;
    height:65px;
    border-radius: 50%;
    background: rgb(126, 251, 255);
    font-size: 1.5rem;
    outline: none;
    word-wrap: break-word;
}

.todo-content {
    font-size: 1.125rem;
    padding:.6em;
    background: rgb(211, 254, 255);
    outline: none;
    word-wrap: break-word;
}

.todo-content:focus {
    background:#fff;
}

.icons .iconify {
    font-size: 1.5rem;
    transition: 0.1s;
    cursor: pointer;
}

.icons .iconify:hover {
    color: rgb(255, 44, 44);
}


/* ================ MEDIA QUERIES ================ */

@media (max-width:850px) {
    .main-wrapper {
        flex-direction: column;
        align-items: center;
    }

    #w1, #w2 {
        width: 95%;
    }

    #w2 {
        margin-top: 50px;
    }
    .todo-container {
        width: 70%;
    }
}

@media (max-width:550px) {
    .todo-header {
        width:90%;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .header-icon {
        margin:1em 0;
    }

    .grid-spl {
        height:500px;
    }

    /* reducing font sizes */
    .todo-date {
        font-size: 1.25rem;
    }
    .time {
        font-size: 1.5rem;
    }
}